.header 
    top: 0%
    margin: 0%
    padding: 0%
    left:0px
    background: url(../img/empresaria-1.jpg) no-repeat 
    background-size: cover
    min-height: 100vh
  
.header .navbar 
    background-color: transparent !important
  
body 
    padding: 0px 70px 0px 70px !important

img 
    width: inherit

::after ::before 
        box-sizing: initial !important

.col 
    padding-right: 0 !important
    padding-left: 0 !important
    background-color: #f30e71